.titre{
    text-align: center;
    font-family: Baskerville;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #B74803, #CC6D3D);
    font-size: 40px;
    background-image: linear-gradient(to right,  #B74803, #CC6D3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan{
    text-align: center;
    font-family: Baskerville;
    font-weight:500;
    font-style: italic;
    background: linear-gradient(to right, #022E51, #022E51); 
    font-size: 20px;
    background-image: linear-gradient(to right,  #022E51, #022E51);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}