  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
 
  template {
    height: 100%;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }

  button{
    font: inherit;
  }

  p,
  h1{
    overflow-wrap: break-word;
  }
  
  h1{
    line-height: 1;
  }
  
  template {
    font-family: Lato;
    font-weight: 500;
    font-size: 0.875rem;
    color: #555;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    place-content: center;
    margin: 1rem;
  }
  
  .flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  /* button */
  .button {
    font-family: Baskerville;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.75em 1.5em;
    background-color: #B74803;
    color: #F6F9FE;
    font-weight: 700;
    font-size: 0.925rem;
  }
  
  .button[data-icon="shopping-cart"]::before {
    content: "";
    width: 15px;
    height: 16px;
  }
  
  .button:is(:hover, :focus) {
    background: rgba(183, 72, 3,0.85);
  }
  
  /* product styles */
  .productItem {
    --content-padding: 1.5rem;
    --content-spacing: 1rem;
    margin: 10px;
    display: grid;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    overflow: hidden;
    align-items: center; /* Ajout */
  }
  
  .product__img {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Assure que l'image occupe toute la hauteur */
  }
  
  
  @media (min-width: 600px) {
    .productItem {
      grid-template-columns: 1fr 1fr;
    }
  }


  .product__content {
    display: grid;
    gap: var(--content-spacing);
    padding: var(--content-padding);
  }
  
  .product__category {
    font-size: 0.8125rem;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  
  .product__title {
    font-size: 2rem;
    font-family: Baskerville;
    color: #022E51;
  }


