.background{
    padding: 0; /* Supprimer le padding */
    margin: 0; /* Supprimer la marge */
    min-height: 72vh; /* Ajuster la hauteur à 100% de la vue */
    overflow-y: hidden;
}


.corps {
    max-width: 32.5rem;
    margin: auto;
    transform: translateY(35%);
    position: relative;
}

.corps1 {    
    filter: blur(30px);
    padding: 1rem;
    inset: 0;
    background-image: linear-gradient(90deg, #A3B4C8, #A3B4C8, #A3B4C8, #A3B4C8, #A3B4C8, #A3B4C8, #A3B4C8 );
    height: 40vh;
    position: absolute;
}


.corps2 {
    text-align: center;
    padding: 1.5rem;
    background-color: #022E51;
    border-radius: 1rem;    
    justify-content: center;
    align-items: center;   
    position: relative;
}

.titre{
    margin-bottom: 2rem;
    background: linear-gradient(to right, #A3B4C8, #A3B4C8);
    font-size: 2rem;
    line-height: 2.5rem;
    background-image: linear-gradient(to right, #A3B4C8, #A3B4C8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Baskerville;
    font-style: italic;
    background-clip: text;
    color: transparent;
    font-style: normal;
    width: fit-content;
    font-weight : 700;
}

.message{
    line-height: 1.5;
    white-space: pre-wrap;
    font-family: Roboto;
    color: #fff;
    font-size: 0.8rem;

}

/* Media Query for Mobile */
@media only screen and (max-width: 767px) {
    .background{
        max-height: 70vh;
    }

    .corps {
        max-width: 90%; /* Adjusted width for mobile */
        transform: translateY(0); /* Reset transform for mobile */
        
    }

    .titre {
        font-size: 1.5rem; /* Adjusted font size for mobile */
        line-height: 2rem; /* Adjusted line height for mobile */
    }

    .message{
        font-size: 0.8rem;
    }
}